<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Página Cadastro</title>
    <meta charset="utf-8">
</head>

<body>
    <form [formGroup]="professor" (ngSubmit)="cadastrar()">
        <div class="imgcontainer">
            <img src="assets/images/cards/user_female.png" alt="Avatar" class="avatar">
        </div>

        <div class="container cadastro">
            <label for="uname"><b>Nome Completo</b></label>
            <input type="text" formControlName="nome" placeholder="Digite seu nome" required>

            <label for="email"><b>Email</b></label>
            <input type="email" formControlName="email" placeholder="Digite seu email" required>

            <label for="psw"><b>Senha</b></label>
            <input type="password" formControlName="senha" placeholder="Digite sua senha" required>

            <label for="dta"><b>Data de Nascimento</b></label>
            <input type="date" formControlName="dataNascimento" placeholder="Digite sua data de nascimento" required>

            <label for="tel"><b>Telefone</b></label>
            <input type="text" formControlName="telefone" placeholder="Digite apenas o número" required>

            <button type="submit">Cadastrar</button>

            <p [routerLink]="['/login']">Já tem um cadastro?<b style="text-decoration:underline; cursor:pointer; color: red;"> Faça Login!</b></p>
        </div>
    </form>
    <br><br>    
</body>

</html>