<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Natureza</title>
  <meta charset="utf-8">
</head>

<body>
  <div>
    <div>
      <img src="../../../assets/images/back-icon.png" alt="" [routerLink]="['/aulas']" class="voltar">
      <p class="titulo">NATUREZA</p>
      <div class="container materias-grid">
        <div class="row">
          <div class="col-sm" [ngStyle]="selecionado('Biologia') ? {'background-color': 'orange' } : {}">
            <p (click)="alteraTema('Biologia')">
              Biologia
            </p>
          </div>
          <div class="col-sm" [ngStyle]="selecionado('Química') ? {'background-color': 'orange' } : {}">
            <p (click)="alteraTema('Química')">
              Química
            </p>
          </div>
          <div class="col-sm" [ngStyle]="selecionado('Física') ? {'background-color': 'orange' } : {}">
            <p (click)="alteraTema('Física')">
              Física
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="temaSelecionado == 'Biologia'">
        <app-materia [tema]="tema"></app-materia>
      </div>
      <div *ngIf="temaSelecionado == 'Química'">
        <app-materia [tema]="tema"></app-materia>
      </div>
      <div *ngIf="temaSelecionado == 'Física'">
        <app-materia [tema]="tema"></app-materia>
      </div>
    </div>
  </div>
</body>