<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Página Login</title>
    <meta charset="utf-8">
</head>

<body>
    <!--<header class="navbar">
        <div class="navbar-nav">
            <p [routerLink]="['/home']">E D U C A Í</p>
        </div>
    </header>
-->

    <form action="/action_page.php" method="post">
        <div class="imgcontainer">
            <img src="assets/images/cards/user_male.png" alt="Avatar" class="avatar">
        </div>

        <div class="container login">
            <label for="uname"><b>Email</b></label>
            <input [(ngModel)]="login.email" id="usuario" type="text" placeholder="Digite o email" name="uname"
                required>

            <label for="psw"><b>Password</b></label>
            <input [(ngModel)]="login.senha" id="senha" type="password" placeholder="Digite a senha" name="psw"
                required>

            <button type="submit" (click)="logar()">Login</button>
            <p [routerLink]="['/cadastro']">Não tem login?<b style="text-decoration:underline; cursor:pointer; color: red;"> Faça o Cadastro!</b></p>
        </div>
    </form>
    <br><br><br>

</body>

</html>