<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Humanas</title>
  <meta charset="utf-8">
</head>

<body>
  <div>
    <div>
      <p class="voltar" [routerLink]="['/aulas']"><img src="../../../assets/images/back-icon.png" alt=""></p>
      <p class="titulo">HUMANAS</p>
      <div class="container materias-grid">
        <div class="row">
          <div class="col-sm" [ngStyle]="selecionado('História') ? {'background-color': 'orange' } : {}">
            <p (click)="alteraTema('História')">
              Historia
            </p>
          </div>
          <div class="col-sm" [ngStyle]="selecionado('Filosofia') ? {'background-color': 'orange' } : {}">
            <p (click)="alteraTema('Filosofia')">
              Filosofia
            </p>
          </div>
          <div class="col-sm" [ngStyle]="selecionado('Geografia') ? {'background-color': 'orange' } : {}">
            <p (click)="alteraTema('Geografia')">
              Geografia
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="temaSelecionado == 'História'">
        <app-materia [tema]="tema"></app-materia>
      </div>
      <div *ngIf="temaSelecionado == 'Filosofia'">
        <app-materia [tema]="tema"></app-materia>
      </div>
      <div *ngIf="temaSelecionado == 'Geografia'">
        <app-materia [tema]="tema"></app-materia>
      </div>
    </div>
  </div>
</body>
