<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Linguagens</title>
  <meta charset="utf-8">
</head>

<body>
  <div>
    <div>
      <p class="voltar" [routerLink]="['/aulas']"><img src="../../../assets/images/back-icon.png" alt=""></p>
      <p class="titulo">LINGUAGENS</p>
      <div class="container materias-grid">
        <div class="row">
          <div class="col-sm" [ngStyle]="selecionado('Português') ? {'background-color': 'orange' } : {}">
            <p (click)="alteraTema('Português')">
              Português
            </p>
          </div>
          <div class="col-sm" [ngStyle]="selecionado('Inglês') ? {'background-color': 'orange' } : {}">
            <p (click)="alteraTema('Inglês')">
              Inglês
            </p>
          </div>
          <div class="col-sm" [ngStyle]="selecionado('Espanhol') ? {'background-color': 'orange' } : {}">
            <p (click)="alteraTema('Espanhol')">
              Espanhol
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="temaSelecionado == 'Português'">
        <app-materia [tema]="tema"></app-materia>
      </div>
      <div *ngIf="temaSelecionado == 'Inglês'">
        <app-materia [tema]="tema"></app-materia>
      </div>
      <div *ngIf="temaSelecionado == 'Espanhol'">
        <app-materia [tema]="tema"></app-materia>
      </div>
    </div>
  </div>
</body>
