<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Aulas-Detalhes</title>
    <meta charset="utf-8">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <li class="navbar-nav">
                    <p [routerLink]="['']">E D U C A Í</p>
                </li>
            </div>
        </nav>
    </header>

   <div class="quadro">

        <div class="conteudo-quadro">
          <h1>Detalhes</h1>
          <div class="container materias-grid">
            <div class="row">
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
            </div>
          </div>
        </div>
   </div>

</body>
</html>
