<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Matemática</title>
  <meta charset="utf-8">
</head>

<body>
  <div>
    <br>
    <div *ngIf="!usuarioEstaLogado()" style="text-align:center; font-size: 200%; color: red; font-weight: bold;">
      <p>É necessário logar para dar aulas!</p>
    </div>
    <div>
      <p class="voltar" [routerLink]="['/aulas']"><img src="../../../assets/images/back-icon.png" alt=""></p>
      <p class="titulo">MATEMÁTICA</p>
      <div class="container materias-grid">
        <div class="row">
          <div class="col-sm" [ngStyle]="selecionado('Geometria') ? {'background-color': 'orange' } : {}">
            <p
               (click)="alteraTema('Geometria')">
              Geometria
            </p>
          </div>
          <div class="col-sm" [ngStyle]="selecionado('Aritmética') ? {'background-color': 'orange' } : {}">
            <p (click)="alteraTema('Aritmética')">
              Aritmética
            </p>
          </div>
          <div class="col-sm" [ngStyle]="selecionado('Álgebra') ? {'background-color': 'orange' } : {}">
            <p (click)="alteraTema('Álgebra')">
              Álgebra
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="temaSelecionado == 'Geometria'">
        <app-materia [tema]="tema"></app-materia>
      </div>
      <div *ngIf="temaSelecionado == 'Aritmética'">
        <app-materia [tema]="tema"></app-materia>
      </div>
      <div *ngIf="temaSelecionado == 'Álgebra'">
        <app-materia [tema]="tema"></app-materia>
      </div>
    </div>
  </div>
</body>

</html>