body {
    font-family: Montserrat;
}

.navbar {
    background: rgb(53, 53, 187);
    color: white;
    line-height: 50px;
    text-decoration: none;
}

.navbar-login {
    cursor: pointer;
    font-size: 150%;
    margin-left: 42%;
    margin-right: 2%;
}

.navbar-login:hover {
    color: orange;
    transition: 0.2s;
}

.navbar-aulas {
    cursor: pointer;
    background: rgba(255, 1, 1, 0.838);
    border-radius: 60px;
    width: 8%;
    text-align: center;
}

.navbar-aulas:hover {
    background: rgba(255, 1, 1, 0.701);
    color: white;
    transition: 0.5s;
}

.navbar-educai {
    cursor: pointer;
    font-size: 250%;
    padding-right: 2%;
}

.navbar-educai:hover {
    transition: 0.7s;
    color: orange;
}

.navbar-cadastro {
    cursor: pointer;
    background: rgba(255, 166, 0, 0.963);
    width: 16%;
    text-align: center;
    border-radius: 60px;
}

.navbar-cadastro:hover {
    background: rgba(255, 166, 0, 0.813);
    color: white;
    transition: 0.5s;
}

.sobreosite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    padding-bottom: 2%;
}

.title_resumo {
    font-size: 24px;
}

.icones {
    border: 2px solid darkblue;
    border-radius: 25px;
    height: 50%;
    
}

.card-background {
    background: orange;
}

.botao_home {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.educai {
    border: 30px solid orange;
    background: orange;
    height: 320px;
    border-radius: 25px;
}

.sobre-educai {
    text-align: center;
    color: white;
    font-size: 30px;
}

.card {
    background: darkorange;
    padding-left: 30px;
}

.card:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.info_educai {
    background-color: gray;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 15%;
    color: white;
}

.footer {
    font-size: 15px;
    text-align: center;
    background-color: gray;
    line-height: 50px;
    color: darkgrey;
    margin-bottom: auto;
}