<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Página Home</title>
    <meta charset="utf-8">
</head>

<!--
<script type="module">
import {Modal} from 'bootstrap'
let myModal = new Modal(document.getElementById('myModal'));
myModal.show();

console.log(myModal);
console.log("opa")

</script>
-->

<body>
    <main>
        <div class="sobreosite container">
            <img src="assets/images/LogoHome.png" alt="">          
            <div>
                <!--<h1 style="margin-top: 3%;">SOBRE O SITE</h1>!-->
                <h3 style="text-align: justify; font-size: 110%;">No EDUCAÍ onde você encontra os professores mais capacitados para auxiliar no seu aprendizado</h3>
            </div>
            <br><br>
            <h2>Nossas Disciplinas</h2>
        </div>
        <div class="container text-center icones">
            <div class="row row-cols-2">
                <div class="col">
                    <img src="assets/images/img1.png" alt="">
                    <p class="title_resumo"><b>Matemática</b></p>
                </div>
                <div class="col">
                    <img src="assets/images/img2.png" alt="">
                    <p class="title_resumo"><b>Linguagens</b></p>
                </div>
                <div class="col">
                    <img src="assets/images/img3.png" alt="">
                    <p class="title_resumo"><b>Ciências Humanas</b></p>
                </div>
                <div class="col">
                    <img src="assets/images/img4.png" alt="">
                    <p class="title_resumo"><b>Ciências da Natureza</b></p>
                </div>
            </div>
        </div>

        <!--
       <div>
        <app-carousel [images]="images"></app-carousel>
       </div>
       -->
       <br><br><br>
       <div class="container educai">
        <p class="sobre-educai"><b>E D U C A Í</b></p>
        <div class="row">
          <div class="col">
            <div class="card" style="width: 15.3rem;">
              <img src="../../assets/images/escola1.jpg" class="card-img-top-first" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15.3rem;">
              <img src="../../assets/images/escola6.jpg" class="card-img-top-first" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15.3rem;">
              <img src="../../assets/images/escola3.jpeg" class="card-img-top-first" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15.3rem;">
              <img src="../../assets/images/escola4.jpg" class="card-img-top-first" alt="...">
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <p class="container" style="font-size: 200%; text-align: center;">
        Quer mudanças? Sabe sobre algum assunto? Venha ensinar quem precisa,
        venha ajudar quem procura conteúdo de qualidade.<br> 
        <b style="font-size:120% ;">Faça a diferença!</b>
      </p>
        <div *ngIf="usuarioEstaLogado()" class="botao_home">
            <p class="btn btn-primary btn-lg" [routerLink]="['/aulas']">
              Quero dar aulas
            </p>
        </div>
        <div *ngIf="!usuarioEstaLogado()" class="botao_home">
          <p class="btn btn-primary btn-lg" [routerLink]="['/login']">
            Quero dar aulas
          </p>
      </div>
    </main>
</body>

</html>